.container {
  padding: 1.5rem;
}

.container h3 {
  margin-bottom: 1.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.list-item {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item::before {
  border: 1px solid currentColor;
  background-color: transparent;
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  transform: rotate(45deg);
}
