.header {
  background-color: #eee;
  box-shadow: 0.2rem 0 0.8rem #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  height: 80px;
}

.nav ul {
  list-style: none;
}
